*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
*.pidb
*.usertasks
*.userprefs
*.DotSettings
/*.sln.ide
.vs
.idea
launchSettings.json
/Test/Sample/node_modules
/Test/Sample/tsconfig.json
/Test/Wrong
**/node_modules/**